// Lists
//
// Our standard list is without a list style. For content lists we have a special class `.dash-ul` which prepends the list items with a symbol chosen in the styles, in this case an underscore.
//
// The normal list has no margins at the bottom while the standard paragraph margin is applied to the content lists. Further list classes with different symbols mightbe added at a later time.
//
// Markup: lists.hbs
//
// .dash-list        - A list that uses dashes as list icons
// .plus-list        - A list that uses pluses as list icons
//
// Style guide: atoms.lists


$default-list-style-position: inside !default;

@mixin list(
  $selector: '.list',
  $list-style: none,
  $list-style-position: $default-list-style-position,
  $has-custom-symbol: true,
  $custom-symbol: '–',
  $symbol-color: currentColor,
  $list-margin: rem-calc(12),
  $list-indent: rem-calc(4),
  $list-spacing: rem-calc(20),
  $nested-margin-factor: 1,
  $pass-on-styles: false
) {
  #{$selector} {
    margin-bottom: $list-spacing;
    margin-left: $list-margin + $list-indent;

    list-style: $list-style;

    @if $list-style != none {
      list-style-position: $list-style-position;
    }

    @if $has-custom-symbol {
      $item-selector: if($pass-on-styles, 'li', '> li');

      #{$item-selector} {
        &::before {
          position: relative;
          left: - $list-indent;

          margin-left: - $list-margin;

          color: $symbol-color;

          content: $custom-symbol;
        }

        ul,
        ol {
          margin-left: $nested-margin-factor * $list-margin + $list-indent;
        }
      }
    }
  }
}
