<ul class="{{modifier_class}}">
  <li>Lorem ipsum dolor</li>
  <li>consectetur adipisicing</li>
  <li>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
    <ul class="{{modifier_class}}">
      <li>Excepteur</li>
      <li>Sint</li>
      <li>Occaecat</li>
    </ul>
  </li>
</ul>
