# OS X Stuff
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDouble
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Sublime Text Stuff (including its cache files)
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user specific
*.sublime-workspace

# Node Stuff
.grunt
node_modules

# Sass Files
.sass-cache
*.css.map

# Compiled Stylesheets
src/css

# bower, second file is compiled from bower_components
bower_components
src/js/bower.js

# generated svg
src/icons/.min

# generated grunticon
src/.grunticon

# generated images for upload
src/uploads/dist

# secrets (config files, db passwords, etc)
secrets.json
keys.php
src/config/wp-config.php

# all wordpress files
wwwroot/

# Composer Files
vendor/

# generated translation files
src/languages/*.mo
src/languages/*.po~

# generated kss template
src/config/.kss-dest

# visual test results screenshots
tests/visual/results

# temporary babel files, we keep them around for inspection should something go wrong, but they have no place in version control
.babel-build/

