////
/// @group General
/// @since 1.0.0
/// @author Raphael Hüni
////

// Typography
//
// Sets the default styles for all text. Also the default typography variables are set in this file which means we now can find all things related to type in this file.
//
// Hint: it is strongly recommended to use unitless values for the lineheight since they translate well in inheritance instances as they are font size dependent.
//
// Markup: type.html
//
// Style guide: atoms.typography

/// Font families for sans font types
/// @type List
$sans-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$sans-custom: 'Lato';

/// Font families for serif font types
/// @type List
$serif: Georgia, Utopia, Palatino, 'Palatino Linotype', serif !default;

$serif-custom: 'Roboto Slab';

/// Font families for code font types
/// @type List
$code: Consolas, 'Courier New', Courier, monospace !default;

$font-smoothing: antialiased !default;


// type configuration
// here comes the basic body text configuration

/// Defines the default font family used for the body copy.
$body-copy-font-family-fallback: $sans !default;
$body-copy-font-family: prepend($sans-default, $sans-custom) !default;

/// Defines the default font size of the body copy.
$body-copy-font-size: rem-calc(18) !default;

/// Defines the default line height of the body copy.
$body-copy-line-height: 1.35 !default;

/// Default margin bottom applied to paragraphs (equal to the body font size by default)
/// @type Number
$paragraph-margin-bottom: $body-copy-font-size !default;

// now come the headings
$headings-font-color: $color-primary !default;
$headings-font-family-fallback: $serif !default;
$headings-font-family: prepend($serif, $serif-custom) !default;
$headings-font-weight: bold !default;
$headings-text-rendering: optimizeLegibility !default;

$h1-font-size: 1.9 * $body-copy-font-size !default;
$h2-font-size: 1.4 * $body-copy-font-size !default;
$h3-font-size: 1.2 * $body-copy-font-size !default;

$h1-max-mobile-font: rem-calc(24) !default;
$h2-max-mobile-font: rem-calc(21) !default;
$h3-max-mobile-font: rem-calc(18) !default;

// anchors at last
$anchor-color-font: $color-primary !default;
$anchor-color-font-hover: $anchor-color-font !default;
$anchor-font-style: normal !default;
$anchor-text-decoration: none !default;
$anchor-text-decoration-hover: underline !default;

// basic font styles for body
body {
  color: $color-text;
  font-family: $body-copy-font-family-fallback;
  font-size: $body-copy-font-size;
  line-height: $body-copy-line-height;

  #{$fonts-loaded-class} & {
    font-family: $body-copy-font-family;
  }
}

p {
  margin-bottom: $paragraph-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

// Headings
/// This placeholder contains all base styles for the headings. Any heading we define from here on out can extend this placeholder.
%heading-base {
  color: $headings-font-color;
  font-family: $headings-font-family-fallback;
  font-weight: $headings-font-weight;
  text-rendering: $headings-text-rendering;

  #{$fonts-loaded-class} & {
    font-family: $headings-font-family;
  }
}

h1,
.h1 {
  @extend %heading-base;
  font-size: $h1-max-mobile-font;

  @include susy-media(font-desktop) {
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  @extend %heading-base;
  font-size: $h2-max-mobile-font;

  @include susy-media(font-desktop) {
    font-size: $h2-font-size;
  }
}

h3,
.h3 {
  @extend %heading-base;
  font-size: $h3-max-mobile-font;

  @include susy-media(font-desktop) {
    font-size: $h3-font-size;
  }
}

// anchors
a {
  color: $anchor-color-font;
  font-style: $anchor-font-style;
  text-decoration: $anchor-text-decoration;

  &:hover,
  &:active,
  &:focus {
    color: $anchor-color-font-hover;
    text-decoration: $anchor-text-decoration-hover;
  }
}
