$sans-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$sans-custom: 'Lato';

$serif-default: Georgia, Utopia, Palatino, 'Palatino Linotype', serif !default;
$serif-custom: 'Roboto Slab';

$code: Consolas, 'Courier New', Courier, monospace !default;

// define the font breakpoints
$min-font-width: 25em;
$max-font-width: 50em;

// Defines the default font family used for the body copy.
$body-copy-font-family-fallback: $sans-default !default;
$body-copy-font-family: $sans-custom !default;

// Defines the default font size of the body copy.
$body-copy-font-size-min: rem-calc(16) !default;
$body-copy-font-size-max: rem-calc(18) !default;

// Defines the default line height of the body copy.
$body-copy-line-height: 1.35 !default;

// Headings
$headings-font-color: $color-primary !default;
$headings-font-family-fallback: $serif-default !default;
$headings-font-family: $serif-custom !default;
$headings-font-weight: bold !default;

// work with these fonts and the mixin or even easier work with em's which means you can leave out the mixin, however this will depend on the design
$h1-font-size-min: rem-calc(30) !default;
$h2-font-size-min: rem-calc(25) !default;
$h3-font-size-min: rem-calc(20) !default;

$h1-font-size-max: rem-calc(36) !default;
$h2-font-size-max: rem-calc(30) !default;
$h3-font-size-max: rem-calc(25) !default;

// Anchors
$anchor-color-font: $color-primary !default;
$anchor-color-font-hover: $anchor-color-font !default;
$anchor-font-style: normal !default;
$anchor-text-decoration: none !default;
$anchor-text-decoration-hover: underline !default;

// basic font styles for body
body,
.WL {
  // fluid typography
  @include fluid-type('font-size', $min-font-width, $max-font-width, $body-copy-font-size-min, $body-copy-font-size-max);
  color: $color-text;
  font-family: $body-copy-font-family-fallback;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  letter-spacing: .02em;
  line-height: $body-copy-line-height;

  #{$fonts-loaded-class} & {
    @if $body-copy-font-family != $body-copy-font-family-fallback {
      font-family: $body-copy-font-family;
    }
  }
}

/**
 * @atom Base Paragraph Style
 * @section Typography
 * @markup
 *  <h1>This is a title</h1>
 *  <p>This is a test paragraph displaying all possible text styles within one nicely defined section. This means that here we can show off <strong>strong emphasis</strong>, we can test out our <em>italic styles</em> whether faux or real ones, we can also test <a href="#0">inline links</a>, how discernable they are and <a href="#0">how longer linktexts that might wrap lines are behaving and how they look on hover, this is a test</a>.</p>
 *  <h2>A subtitle</h2>
 *  <p>@{lipsum:2:paragraphs}</p>
 *  <p>@{lipsum:3:paragraphs}</p>
 *  <h2>A very long subtitle between some paragraphs of text, hopefully wrapping to demonstrate the h2 line-height and space distribution between sections and their headings.</h2>
 *  <p>@{lipsum:2:paragraphs}</p>
 *  <p>@{lipsum:3:paragraphs}</p>
 */
p {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

// Headings
/// This placeholder contains all base styles for the headings. Any heading we define from here on out can extend this placeholder.
%heading-base {
  color: $headings-font-color;
  font-family: $headings-font-family-fallback;
  font-weight: $headings-font-weight;

  #{$fonts-loaded-class} & {
    @if $headings-font-family != $headings-font-family-fallback {
      font-family: $headings-font-family;
    }
  }

  * + & {
    margin-top: 1em;
  }
}

/**
 * @atom Heading 1
 * @section Typography
 * @markup
 *  <h1>A Short Title</h1>
 *  <h1>A very long title with many words explaining what the text below this title is all about and what one can expect from the lecture of the article.</h1>
 *  <span class="h1">Some text looking like an h1</span>
 */
h1,
.h1 {
  @extend %heading-base;
  @include fluid-type('font-size', $min-font-width, $max-font-width, $h1-font-size-min, $h1-font-size-max);
}

/**
 * @atom Heading 2
 * @section Typography
 * @markup
 *  <h2>A Short Subtitle</h2>
 *  <h2>A very long subtitle with many words explaining what the text below this title is all about and what one can expect from the lecture of the article.</h2>
 *  <span class="h2">@{lipsum:5:words}</span>
 */
h2,
.h2 {
  @extend %heading-base;
  @include fluid-type('font-size', $min-font-width, $max-font-width, $h2-font-size-min, $h2-font-size-max);
}

/**
 * @atom Heading 3
 * @section Typography
 * @markup
 *  <h3>A Short Subtitle</h3>
 *  <h3>A very long subtitle with many words explaining what the text below this title is all about and what one can expect from the lecture of the article.</h3>
 *  <span class="h3">@{lipsum:5:words}</span>
 */
h3,
.h3 {
  @extend %heading-base;
  @include fluid-type('font-size', $min-font-width, $max-font-width, $h3-font-size-min, $h3-font-size-max);
}

// anchors
/**
 * @atom Anchors
 * @section Typography
 * @markup
 *  <a href="#0">@{lipsum:2:words}</a>
 */
a {
  color: $anchor-color-font;
  font-style: $anchor-font-style;
  text-decoration: $anchor-text-decoration;

  &:hover,
  &:active,
  &:focus {
    @if $anchor-color-font-hover != $anchor-color-font {
      color: $anchor-color-font-hover;
    }

    @if $anchor-text-decoration-hover != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover;
    }
  }
}
