// Colors
//
// Every single color that is used throughout the stylesheet should be assigned to a variable in this file. Always assign color names to hex (or rgba or other) values to ensure better readable code. Then assign those variables to the theme ones.

/**
 * The primary color used in this theme
 *
 * @color
 * @section Colors
 */
$golden-bell: #EB8714;

/**
 * The theme's secondary color
 *
 * @color
 * @section Colors
 */
$coffee: #73695A;

// greys
/**
 * Main font color
 *
 * @color
 * @section Colors
 */
$dove-grey: #6F6F6F;

/**
 * Secondary font color
 *
 * @color
 * @section Colors
 */
$mercury: #E5E5E5;

$seashell: #F1F1F1;

/**
 * Solid white
 *
 * @color
 * @section Colors
 */
$white: #FFF;

/**
 * Solid black
 *
 * @color
 * @section Colors
 */
$black: #000;

/**
 * Solid black with just .1 opacity
 *
 * @color
 * @section Colors
 */
$darken: rgba(0, 0, 0, .1);

/**
 * Solid white with just .1 opacity
 *
 * @color
 * @section Colors
 */
$lighten: rgba(255, 255, 255, .1);


$color-primary: $golden-bell;
$color-secondary: $coffee;

$color-text: $dove-grey;
$color-text-secondary: $mercury;

$color-background: $white;
$color-background-secondary: $mercury;

$color-lines: $darken;
