$fonts-loaded-class: '.wl-fonts-loaded';

$container-width: rem-calc(1200) !default;
$layout-columns: 12 !default;

// Susy Configuration
$susy: (
  container: $container-width,
  gutter-position: after,
  columns: $layout-columns,
  gutters: .316,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66F, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: false,
    clearfix: true,
    rem: false,
  )
);

// Breakpoints
// These should only be used for global configuration. Usually you will want to define finer grained breakpoints on a per component basis to style these components to look their best, independent of device widths.
$susy-media: (
  md: 40em,
  lg: 64em,
  to-md: max-width 39.9375em,
  to-lg: max-width 63.9375em,
  md-lg: 40em 63.9375em
);
