$fonts-loaded-class: '.wl-fonts-loaded';

$container-width: rem-calc(1200) !default;
$layout-columns: 12 !default;

// Susy Configuration
$susy: (
  columns: $layout-columns,
  gutters: .316,
  spread: narrow,
  container-spread: narrow,
);

// Breakpoints
// These should only be used for global configuration. Usually you will want to define finer grained breakpoints on a per component basis to style these components to look their best, independent of device widths.
$mq-breakpoints: (
  // main breakpoints
  sm: 30em, // 480px
  md: 40em, // 640px
  lg: 64em, // 1024px
  // tweak points follow below
  twoCols: 33.75em, // 540px
  threeCols: 60em, // 960px
  sidebar: 45em, // 720px
  mediaBlockMin: 20em // 320px
);

@mixin container($container-width: $container-width) {
  @include clearfix;

  width: 100%;
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
}
