// Layout
//
// This file defines the global layout options of the website. The values herein are to be understood symbolically since they are not really needed within a style/component library. Yet to make the whole structure easily portable and since components might depend on some of the variables they are included.
//
// Several Susy configuration variables like the main `$susy` map and the breakpoints are set up here. Also global elements such as a global border radius or vertical spacing variables can be set up here. Again make sure `!default` flags are set to enable themeability.
//
// Also look over the variables when you have finished the styling and remove everything that is not necessarily needed.
//
// Style guide: dependencies.layout
//
// Weight: 4

$container-width: rem-calc(1200) !default;
$layout-columns: 12 !default;
$header-height: rem-calc(54) !default;
$footer-height: rem-calc(54) !default;

$susy: (
  container: $container-width,
  gutter-position: after,
  columns: $layout-columns,
  gutters: .316,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
   image: hide,
   color: rgba(#66f, .25),
   output: background,
   toggle: top right,
  ),
  use-custom: (
   background-image: true,
   background-options: false,
   box-sizing: false,
   clearfix: true,
   rem: false,
  )
);

// breakpoints
$susy-media: (
  xs: 20em,
  sm: 45em,
  md: 60em,
  lg: 80em,
  max-xs: max-width 19.9375em,
  max-sm: max-width 44.9375em,
  max-md: max-width 59.9375em,
  xs-sm: 20em 40em,
  sm-md: 40em 60em,
  md-lg: 60em 80em,
  go-desktop: 895px,
  max-mobile: max-width 894px,
  font-desktop: 30em
);

$base-bottom-margin: rem-calc(12) !default;
$base-bottom-margin-desktop: rem-calc(24) !default;
$base-container-padding: $base-bottom-margin-desktop / 2 !default;

$vertical-spacing: gutter() !default;
$vertical-spacing-lg: 2 * $vertical-spacing !default;
$vertical-spacing-xl: 4 * $vertical-spacing !default;

$border-radius: rem-calc(4) !default;
